<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h2 class="mt-5">Make a booking</h2>
      <%= render 'form' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-outline-secondary float-right mr-3' %>
    </div>
  </div>
</div>
