<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h1 class="mt-3">Make a booking</h1>
      <%= render 'form' %>
      <%# <p id= day_price>Price per day: $<%= @dress.price_per_day %>
      <%# I imagine to calculate the total we would need to use Javascript because it needs to be displayed
      before the booking instance is saved. %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-outline-secondary float-right mr-3' %>
    </div>
  </div>
</div>
