
<nav class="footer navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Two Bridal</a>
  <%# <a href="https://www.flaticon.com/free-icons/dress" title="dress icons">Dress icons created by Freepik - Flaticon</a> %>
</nav>
