<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/asian-chinese-female-bridal-shop-owner-measuring-her-customer-bride-picture-id1334128827?s=2048x2048);">
  <div class="container">
    <h1>Here to help you find the dress you deserve for your perfect day</h1>
    <p>Start your search here.</p>
    <%= link_to "Browse Dresses", dresses_path, class: "btn btn-light" %>

  </div>
</div>

<div class="container">
  <div class="container">
    <h3>Find your perfect dress</h3>
    <h3>Find your perfect dress</h3>
  </div>
</div>
