<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557363763-8381968f8353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
  <div class="container">
    <h1>Here to help you find the dress you deserve for your perfect day</h1>
    <p>Start your search here.</p>
    <%= link_to "Browse Dresses", dresses_path, class: "btn btn-light" %>

  </div>
</div>

<div class="container">
  <div class="m-5 text-center bg-light text-dark px-5 py-5">
    <h3>Experience the Magic of Two Bridal</h3>
    <p>We have the largest selection of rental dresses avaliable online. Ready for you to wear so your special day can be perfect.</p>
  </div>

  <div class="m-5 text-center bg-light text-dark px-5 py-5">
    <div class="row row-cols-1 row-cols-md-3 ">
    <div class="col mb-4 d-flex align-items-stretch">
      <div class="card">
        <img src="https://www.kleinfeldbridal.com/wp-content/uploads/2021/08/ajp-386-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Designs</h5>
          <p class="card-text">Hundreds of designers to choose from. From Monique Lhullier to Claire Pettibone and everything inbetween.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4 d-flex align-items-stretch">
      <div class="card">
        <img src="https://www.kleinfeldbridal.com/wp-content/uploads/2021/08/ajp-52-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sizes</h5>
          <p class="card-text">We have every size you could imagine available, no matter how big or small.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4 d-flex align-items-stretch">
      <div class="card">
        <img src="https://www.kleinfeldbridal.com/wp-content/uploads/2021/08/ajp-239-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Styles</h5>
          <p class="card-text">No matter where you are, we have a style to suit your special day because of our amazing providers from around the globe.</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="m-5 text-center bg-light text-dark px-5 py-3" style="width:">
    <h3>About Us</h3>
    <p>Formed in 2022 as the result of a group project, 4 highly motivated students passionate about bridal decided to embark on what has become Two Bridal.</p>
    <button type="button" class="btn btn-outline-dark">Check our blog for more</button>
  </div>


</div>
