<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h2 class="mt-5">Change your dress info</h2>
      <%= render 'form', dress: @dress %>
    </div>
  </div>
</div>
